---
# BasedOnStyle: Mozilla
BasedOnStyle: Webkit
ColumnLimit: 80
IndentWidth: 4
ContinuationIndentWidth: 4
TabWidth: 4
UseTab: Always
AccessModifierOffset: -4
AlignAfterOpenBracket: AlwaysBreak
AlignAfterOpenBracket: AlwaysBreak
# AlignAfterOpenBracket: DontAlign
AlignEscapedNewlines: Left
AlignOperands: false
AlignTrailingComments: false
# AllowAllArgumentsOnNextLine: false
AllowAllParametersOfDeclarationOnNextLine: false
AllowShortFunctionsOnASingleLine: None
AlwaysBreakAfterDefinitionReturnType: None
AlwaysBreakAfterReturnType: None
AlwaysBreakTemplateDeclarations: true
BinPackArguments: false
BinPackParameters: false
BreakBeforeBinaryOperators: All
# BreakBeforeBraces: Attach
BreakBeforeBraces: WebKit
BreakBeforeInheritanceComma: true
BreakConstructorInitializers: BeforeComma
BreakInheritanceList: BeforeComma
ConstructorInitializerAllOnOneLineOrOnePerLine: true
ConstructorInitializerIndentWidth: 4
Cpp11BracedListStyle: true
IncludeBlocks: Regroup
IndentCaseLabels: false
KeepEmptyLinesAtTheStartOfBlocks: false
MaxEmptyLinesToKeep: 1
ObjCBlockIndentWidth: 4
# PenaltyBreakBeforeFirstCallParameter: 0
PenaltyReturnTypeOnItsOwnLine: 60
# SortIncludes: false
SpaceAfterTemplateKeyword: true
SpaceBeforeCpp11BracedList: false
---
Language: Java
ReflowComments: false
AllowShortFunctionsOnASingleLine: None
BreakAfterJavaFieldAnnotations: true
...
